/* ProjectsSection.css */
.projects-section {
    background-color: #212529;
    padding: 4rem 2rem;
    text-align: center;
}

.projects-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #d0cece;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.projectsall-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}
.more {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 10rem;
}

.more button {
    background-color: #252525;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more button:hover {
    background-color: #4a4b4b;
}

.project-card {
    background-color: #3b3b3c;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #e0dcdc;
}

.project-links {
    display: flex;
    justify-content: space-around;
}

.project-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #474748;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.project-link svg {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
        max-width: 90%;
    }
    .more {
        display: flex;
        justify-content: center;
       
        margin-left: 0;
    }
}
